{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { text-align:center; position: absolute; top:50%; left:35% }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur KANALABLAG !!! ✅</h1>
</div>
{% endblock %}
