{% extends 'base.html.twig' %}

{% block title %}Modifier la Catégorie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier la Catégorie</h1>

        {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('app_category_index') }}">Retourner à la liste</a>

    </div>
{% endblock %}
