{% extends 'base.html.twig' %}

{% block title %}Nouvelle Blague{% endblock %}

{% block body %}
    <div class="container">

        <h1>Créer une blague</h1>

        {{ include('joke/_form.html.twig') }}

        <a href="{{ path('app_joke_index') }}">Retourner à la liste</a>    
    </div>
{% endblock %}
